<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
	<% include ../../includes/nav.ejs %>
	  <div class = "text-center jumbotron .btn-primary">
	  	<h2> Welcome to my movie list. Here is the description of your movie. </h2>
	  </div>

	  <!-- forEach works best with array of items, also, I couldn't figure out other way to deal with this -->
</body>
</html>