<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body style="text-align: center">
	<h2> Title: <%= title %> </h2>
	<strong> Summary: </strong> <%= summary %>
	<br>
	<br>
	<strong> Date published: </strong> <%= date %>
	<br>
	<br>
	<strong> Author Name: </strong> <%= authorName %>
	
</body>
</html>