<style> 
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<form action="prove02/submit" method="post">
	<div style="text-align: center; font-family: Arial;">
		Title: <input type="text" name="title" placeholder="title of the book" >
		<br>
		Summary: <input type="textarea" name="summary" placeholder="summary" >
		<br>
		Date published: <input type="text" name = "date" placeholder="date published">
		<br>
		Author name: <input type="text" name="authorName" placeholder="author name">
	</div>

	<div style="text-align: center; font-family: Arial;"> 
		<button style = "
			background-color: #4CAF50;
			  border: none;
			  border-radius: 5px;
			  color: white;
			  padding: 16px 32px;
			  text-decoration: none;
			  margin: 4px 2px;
			  cursor: pointer;
		"
		type="submit"> Submit </button>
	</div>
</form>

