<form action="prove02/submit" method="post">
	<div>
		Title: <input type="text" name="title" placeholder="title of the book" >
		<br>
		Summary: <input type="textarea" name="summary" placeholder="summary" >
		<br>
		Date published: <input type="text" name = "date" placeholder="date published">
		<br>
		Author name: <input type="text" name="authorName" placeholder="author name">
	</div>

	<div> 
		<button type="submit"> Submit </button>
	</div>
</form>

