<form action="prove01/submit" method="post">
	<div class = "form">
		Input 1: <input type="text" name="input1" placeholder="input anything" >
		<br>
		Input 2: <input type="text" name="input2" placeholder="input anything" >
		<br>
	</div>

	<div class = "submit"> 
		<button type="submit"> Submit </button>
	</div>
	
</form>